@model IEnumerable<QuanLyKhachSan.Models.NhanVien>

@{
    ViewData["Title"] = "Index";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Quản lý /</span> Nhân viên</h4> 
<p>
<div class="demo-inline-spacing">
    <a asp-action="Create" class="btn btn-primary">
            <span class="tf-icons bx bx-add-to-queue"></span>&nbsp; Thêm nhân viên
    </a>
</div>
</p>
<div class="card">
    <div class="table-responsive text-nowrap">
        <table class="table">
        <thead>
            <tr>
            <th>Họ Tên</th>
            <th>Ngày Sinh</th>
            <th>Địa Chỉ</th>
            <th>Số Điện Thoại</th>
            <th>Email</th>
            <th>Chức Vụ</th>
            <th></th>
            </tr>
        </thead>
        <tbody class="table-border-bottom-0">
@foreach (var item in Model) {
            <tr>
                <td>
                    <i class="fab fa-angular fa-lg text-danger me-3"></i> 
                    <strong>
                        @Html.DisplayFor(modelItem => item.HoTen)
                    </strong>
                </td>
                <td>
                    <i class="fab fa-angular fa-lg text-danger me-3"></i> 
                    <strong>
                        @Html.DisplayFor(modelItem => item.NgaySinh)
                    </strong>
                </td>
                <td>
                    <i class="fab fa-angular fa-lg text-danger me-3"></i> 
                    <strong>
                        @Html.DisplayFor(modelItem => item.DiaChi)
                    </strong>
                </td>
                <td>
                    <i class="fab fa-angular fa-lg text-danger me-3"></i> 
                    <strong>
                        @Html.DisplayFor(modelItem => item.Sdt)
                    </strong>
                </td>
                <td>
                    <i class="fab fa-angular fa-lg text-danger me-3"></i> 
                    <strong>
                        @Html.DisplayFor(modelItem => item.Email)
                    </strong>
                </td>
                <td>
                    <i class="fab fa-angular fa-lg text-danger me-3"></i> 
                    <strong>
                        @Html.DisplayFor(modelItem => item.MaChucVuNavigation.TenChucVu)
                    </strong>
                </td>
                <td>
                    <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                        <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.MaNhanVien"
                        ><i class="bx bx-edit-alt me-1"></i> Sửa</a
                        >
                        <as class="dropdown-item" asp-action="Details" asp-route-id="@item.MaNhanVien"
                        ><i class="bx bx-list-ul me-1"></i> Chi tiết</as
                        >
                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#basicModal-@item.MaNhanVien"
                        ><i class="bx bx-trash me-1"></i> Xóa</a
                        >
                    </div>
                    </div>
                </td>
            </tr>
}
        </tbody>
        </table>
    </div>
</div>

@foreach (var item in Model) {
<div class="modal fade" id="basicModal-@item.MaNhanVien" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Xóa nhân viên</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                Bạn có chắc muốn xóa nhân viên @Html.DisplayFor(modelItem => item.HoTen) không?
            </div>
            <div class="modal-footer">
                <form asp-action="Delete" asp-route-id="@item.MaNhanVien">
                    <input type="hidden" name="maNhanVien" value="@item.MaNhanVien"/>
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Hủy
                    </button>
                    <input type="submit" value="Xóa" class="btn btn-danger"/>
                </form>
            </div>
        </div>
    </div>
</div>
}